@import url("responsive.css");
@import url("lightbox.css");
@import url("font.css");
@import url("settings.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700");

/* Top Bar / Start
========================================= */
header {
	position: fixed;
	width: 100%;
	padding: 5px 0;
	z-index: 999;
	top: 0;
	-moz-box-shadow: 0px 2px 7px -4px #000;
	-webkit-box-shadow: 0px 2px 7px -4px #000;
	box-shadow: 0px 2px 7px -4px #000;
}

header {	background: #221e1f !important; }
.logo {background-image: url(../../images/logo-light.png);}
.menu > li > a{color: white;}

.logo {
	display: inline-block;
	background-repeat: no-repeat;
	width: 120px;
	height: 30px;
	margin: 12px 0 10px;
}

nav {
	float: right;
	text-align: right;
	display: block;
}
nav ul {
	list-style: none;
	overflow: hidden;
	margin: 6px 0;
}
nav li {
	display: inline-block;
	*display:inline;
	zoom:1;
	padding: 14px 8px;
}

.container nav{
	height:50px;
}

nav, .menu, .menu > li, .menu > li > a{ 
	height: 100%; 
}

.menu > li > a{
	font-family: 'Novecentowide-DemiBold';
	display: block;
	padding: 0 2px;
	text-decoration: none;
	font-weight: normal;
	font-size: 14px;
	line-height: 1;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

.toggle{ 
	z-index: 2; 
}

#toggle, .toggle { display: none; }
.menu > li { list-style: none; float:left;}
/* Top Bar / End
========================================= */

/* Home Section (Revolution Slider) / Start
========================================= */
.fullwidthbanner-container{
	width:100% !important;
	position:relative;
	padding:0;
	margin-top: 64px;
	max-height:520px !important;
	overflow:hidden;
}
/* Home Section (Revolution Slider) / End
========================================= */

/* Services Section / Start
========================================= */
#section-services {
    width: 100%;
    max-width: 1920px; 
}

#services {
	padding-top: 50px;
}

#services h2 {
	text-align: center;
}

#services h3 {
	font-family: 'Novecentowide-DemiBold';
	text-align: center;
	margin-top: 12px;
}

#services p {
	line-height: 23px;
	text-align: center;
	margin-bottom: 60px;
}

#services ul {
margin: 0 0 40px;
padding: 20px 0 0 0;
}

#services ul li {
float: left;
text-align: center;
}

.service-icon {
	font-size: 3.3333em;
	text-align: center;
	line-height: 1;
	color: #252525;
}
/* Services Section / End
========================================= */

/* Caption section / Start
========================================= */
.caption {
	background: url(../images/caption-part2.jpg) no-repeat fixed center; 
	margin: 0 auto; 
	width: 100%; 
	position: relative;
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/caption-part2.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/caption-part2.jpg', sizingMethod='scale')";
}

.caption2 {
    background: url(../images/caption-part2.jpg) no-repeat fixed center ; 
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/caption-part2.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/caption-part2.jpg', sizingMethod='scale')";
}

.caption p {
	padding: 12px 0;
	margin: 0;
}

.caption h2, .caption p {
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.inner {
	padding: 130px 0;
	display: block;
}

button.buy {
	display: block;
	cursor: pointer;
	width: 140px;
	height: 42px;
	padding: 0;
	margin: 0 auto;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

button.buy:hover {
	background: #2c2c2c;
		-webkit-transition: all 0.1s ease-in-out;	
	-moz-transition: all 0.1s ease-in-out;	
	-o-transition: all 0.1s ease-in-out;	
	-ms-transition: all 0.1s ease-in-out;	
	transition: all 0.1s ease-in-out;
}

button.buy i {
	display: block;
	float: left;
	margin: 2px -17px 0 20px;
}
/* Caption Section / End
========================================= */

/* About section / Start
========================================= */
#section-about {
    width: 100%;
    max-width: 1920px; 
}

#section-about a { 
	margin-top: 60px; 
}

#section-about h2 {
	font-family: 'Novecentowide-DemiBold';
	text-align: center;
	margin: 60px 0 40px;
}

#section-about p {
	padding-bottom: 60px;
	line-height: 27px;
}

a.employee {
	position: relative;
	margin: 0 auto;
	width: 240px;
	height: 240px;
	display: block;
	
	-webkit-backface-visibility: hidden; /* bug fix */
	-moz-backface-visibility:hidden; /* bug fix */
	backface-visibility:hidden; /* bug fix */
}

a.employee img {
	width: 240px;
	height: 240px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: v 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

a.employee:hover img {
	opacity: 0;
	filter: alpha(opacity=0);
	visibility: hidden;
}

.employee-name {
	display: block; 
	top: 0;
	overflow: hidden;
	text-align: center;
	position: absolute;
	width: 240px;
	height: 240px;
	opacity: 0;
	filter: alpha(opacity=0);
	visibility: hidden;
	
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

a.employee:hover .employee-name {
	opacity: 1;
	filter: alpha(opacity=100);
	visibility: visible;
}

.employee-name:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	visibility: visible;
}

.employee-name h5, .employee-name span {
	color: #fff;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.employee-name h5 {
	font-family: 'Novecentowide-DemiBold';
	font-size: 14px;
	top: 42%;
}

.employee-name span {
	opacity: .7; /* other browsers  and IE9+ */
	filter: alpha(opacity=70); /* IE6+ */
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70); /* IE6+ */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=70)"; /* this works in IE8 only */
	top: 47%;
}
/* About section / End
========================================= */


/* Portfolio Section / Start
========================================= */
#section-portfolio {
    width: 100%; 
    max-width: 1920px; 
}

#section-portfolio h2 {
	text-align: center;
	padding: 60px 0 0;
}

.page-content.portfolio { 
	padding: 10px 0 60px;
}

.center-filters {
	text-align: center;
}

#filters {
	margin-bottom: 10px;
}

#filters li {
	display: inline-block;
	height: 38px;
	background: #fff;

	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
}

#filters li a {
	color: #252525;
	padding: 2px;
	display: block;
	font-family: 'Novecentowide-DemiBold';
	font-size: 14px;
	padding: 12px;
	display: block;
}

#filters li a:hover{	
	background: #fff;
}

#filters li.selected a{
	color:#fff;
}

#filters li.selected a:hover{
	color:#fff;
}

.corner-stamp { 
	display: block;
}

.portfolio-item {
	display:block;
}

.item {
	margin:10px 0;
	display: block;
	float: left;
	-webkit-backface-visibility: hidden; /* chrome transform bug fix */
}

.item a {
	display: block;
}


.item-description {
	position: absolute;
	display: block; 
	overflow: hidden;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	opacity: 0;
	filter: alpha(opacity=0);	
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.item:hover .item-description {
	opacity: 1; /* other browsers  and IE9+ */
	filter: alpha(opacity=100); /* IE6+ */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)"; /* this works in IE8 only */
}

.item-description h5,.item-description span {
	color: #333;
	display: block;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.item-description h5 {
	font-family: 'Novecentowide-DemiBold';
	font-size: 14px;
	margin-top: 28%;
}

.item-description span {
	opacity: .7; /* other browsers  and IE9+ */
	filter: alpha(opacity=70); /* IE6+ */
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70); /* IE6+ */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=70)"; /* this works in IE8 only */
	margin-top: 10px;
}

.image-link h5, .image-link span{
	text-align:center;
	display:block;
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}

.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-o-transition-property: top, left, opacity;
	transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}
/* Portfolio Section / End
========================================= */

/* Google Map Iframe / Start
========================================= */
#google-map {
	position: relative;
	height: 400px;
	overflow: hidden;
}

#google-map iframe { 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 400px;
}
/* Google Map Iframe / End
========================================= */

/* Contact Section / Start
========================================= */
#section-contact {
	background: #191919;
    width: 100%; 
    max-width: 1920px; 
}

#section-contact h2 {
	text-align: center;
	color: #fff;
	padding: 60px 0;
}

#contact-form {
	padding-bottom: 60px;
}

#send {
	margin-top: 12px;
}

.field textarea, .field input {
	border: none;
	background: #2c2c2c;
	margin: 10px 0;
	color: #fff;
}

.field textarea {
	width: 394px;
	max-width: 394px;
	height: 200px;
	font-size: 14px;
	padding-top: 15px;
	font-family: 'Open Sans';
	line-height: 23px;
}

.field input {
	width: 398px;
	height: 52px;
	font-size: 20px;
}

.field label {
	display: inline-block;
	width: 170px;
	margin: 30px 0;
	color: #fff;
	float: left;
}

.field .validation-error{
	-webkit-box-shadow: inset 0px 0px 0px 1px #ff0000;
	-moz-box-shadow: inset 0px 0px 0px 1px #ff0000;
	box-shadow: inset 0px 0px 0px 1px #ff0000;
}
.field .validation-error:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.send {
	display: block;
	cursor: pointer;
	width: 140px;
	height: 42px;
	float: right;
	padding: 0;
	margin: 5px 10px;
}

.send:hover {
	background: #2c2c2c;
		-webkit-transition: all 0.1s ease-in-out;	
	-moz-transition: all 0.1s ease-in-out;	
	-o-transition: all 0.1s ease-in-out;	
	-ms-transition: all 0.1s ease-in-out;	
	transition: all 0.1s ease-in-out;
}

.loading {
	background:url(../images/loading_black.gif) no-repeat; 
	height:28px; 
	width:28px; 
	display: none;
	float: left;
	margin: 17px 0 0 12px;
}

.success-message {display:none;}

#contact-details {
	margin-top: 10px;
	padding-bottom: 30px;
}

#contact-details h3 {
	font-size: 16px;
	font-family: 'Novecentowide-DemiBold';
}

#contact-details p {
	line-height: 23px;
	color: #fff;
}

#contact-details li {
	float: left;
	display: inline-block;
	width: 210px;
}

a.facebook, a.linkedin {
	width: 75px;
	height: 73px;
	float: left;
	margin: 15px 5px 3px 0px;
	background-repeat: no-repeat;
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;
}

/* It won't work without !important, if you know why, please contact me :) */

a.facebook {
	background:url(../images/icons/facebook.png) no-repeat; 
}

a.linkedin{
	background:url(../images/icons/linkedin.png) no-repeat;
}

#footer {
	background: #0e0e0e;
	height: 100px;
}

#footer p{
	text-align: center;
	margin: 0;
	padding-top: 38px;
	color: #cccccc;
}
/* Contact Section / End
========================================= */


/* Responsive Media Queries / Start
========================================= */

/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.tp-caption.small_text{ display: block; }
	.field label  { float: none; margin: 0; padding-top: 5px;}
	button.send { margin: 5px 0px;  }
	.field textarea { width: 99%; max-width: 99%; }
	.field input { width: 100%; }
}

/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
	
	/* main */
	h2 { font-size: 26px; }
	hr { margin: 30px auto; }

	/* services */
	#services { padding-top: 30px; }
	#services h3 {float: none; text-align: left; margin: 0;}
	#services p {float: none; text-align: left; margin: 5px 0 40px;}
	
	/* contact form */
	#contact-form { padding-bottom: 30px; }
	.field label  { float: none; margin: 0; padding-top: 5px;}
	.field textarea { width: 295px; max-width: 295px; }
	.field input { width: 300px; }
	.send { margin: 5px 21px; }

	/* header */
	.full { width: 100%!important; }
	nav { float: left; text-align: left; }
	header img { margin-left: 20px; }
	.menu { 
		visibility: hidden; 
		display: none !important/9; /* IE8 Hack */
		opacity: 0; 
		width: 100%; 
		position: absolute; 
		right: 0; 
		margin-top: 55px;
		background: #221e1f; 
		-moz-box-shadow: 0px 2px 7px -4px #000;
		-webkit-box-shadow: 0px 2px 7px -4px #000;
		box-shadow: 0px 2px 7px -4px #000;
	}

	.menu, 
	.menu > li, 
	.menu > li > a { 
		height: auto; 
	}

	.menu > li { 
		display: block; 
		width: 100%; 
		margin: 0; 
		padding: 0;
	}

	.menu > li > a { 
		padding: 20px; 
		display: block;
		width: 100%; 
		text-decoration: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box; 
		box-sizing: border-box; 
	}

	.menu > li > a:hover, 
	.menu > li > a:focus { 
		color: #fff; 
	}

	.toggle:after {
		font-family: 'FontAwesome';
		content: "";
		font-size: 21px;
		display: block;
		margin: 0;
		padding: 10px 20px;
		text-align: center;
		color: white;
		-webkit-transition: all 150ms ease-in-out;
		-moz-transition: all 150ms ease-in-out;
		-o-transition: all 150ms ease-in-out;
		-ms-transition: all 150ms ease-in-out;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	#toggle:checked + .toggle:after{	
		font-family:'FontAwesome'; 
		content: ""; 
	}

	.toggle { 
		display: block;
		position: absolute;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		user-select: none;
		right: 6px;
		top: 5px;
	}
	
	#toggle:checked ~ .menu { 
		display: block; 
		opacity: 1;
		visibility: visible;
		display: block !important/9; /* IE8 Hack */
	}
	
	/* Other */
	.tp-caption.small_text{ display: none; }
	#filters { 
		margin-bottom: 0;
		-moz-box-shadow: 0px 2px 7px -4px #000;
		-webkit-box-shadow: 0px 2px 7px -4px #000;
		box-shadow: 0px 2px 7px -4px #000;
	}
	#filters li { display: block; }
	#section-about a {	margin: 40px auto; }
	#section-about p {	padding-bottom: 10px;	line-height: 26px;	}
	.service-icon {
		font-size: 3em;
		float: left;
		padding-bottom: 40px;
		margin-right: 10px;
	}
	.employee-name {
		opacity: 1;
		position: relative;
		height: auto;
		padding: 10px 0;
		visibility: visible;
	}
	.employee-name h5, 
	.employee-name span { 
		color: #454545;
		text-shadow: none; 
		padding: 3px 0;
	}
}

/* Note: Design for a width of 768px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.tp-caption.small_text{ display: block; }
	.service-icon {font-size: 3em;float: left;padding-bottom: 20px;margin-right: 10px;}
	.field textarea { width: 394px; max-width: 394px; }
	.field input { width: 398px; }
}
/* Responsive Media Queries / End
========================================= */


/*========================================= 
		BLUE THEME
========================================= */

::selection {background: #39c6e9;}
::-moz-selection {background: #39c6e9;}
button {background: #39c6e9;}
#reset a {background: #39c6e9;}
a.employee {background: #39c6e9;}
#filters li.selected a {background: #39c6e9;}
.item {background: white;}
.highlight.color {background: #39c6e9;}
.skill-bar-content {background: #39c6e9;}

a, 
a:link {color: #39c6e9;}
a:hover {color: #39c6e9;}
a:active {color: #39c6e9;}
a:visited {color: #39c6e9;}
a.light:hover {color: #39c6e9;}
.menu > li > a:hover {color: #39c6e9;}
.menu > li.current > a {color: #39c6e9;}
#contact-details h3,
#top-menu li a:hover {color: #39c6e9;}
#top-menu li a.active {color: #39c6e9;}
#filters li a:hover {color: #39c6e9;}
.field label span {color: #39c6e9;}
.popup_next:hover {color: #39c6e9;}
.popup_pre:hover {color: #39c6e9;}
.close:hover {color: #39c6e9;}
.tp-leftarrow:hover:after {color: #39c6e9;}
.tp-rightarrow:hover:after {color: #39c6e9;}

a.light {color: #fff;}

@media only screen and (max-width: 767px) {
.menu > li > a:hover,
.menu > li > a:focus { background: #39c6e9; color:#fff;}
}

