<!DOCTYPE html>
<!--[if IE 7 ]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>

	<!-- /* Title */ -->
	<title>Maxime Godrie</title>
	
	<!-- /* Meta Tags */ -->
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- /* Favicons */ -->
	<link rel="shortcut icon" href="favicon.png">

	<!-- /* Stylesheets */ -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/responsive.css">
	<link rel="stylesheet" id="theme" href="css/theme1.css">
	<link rel="stylesheet" href="css/prettyPhoto.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800|PT+Serif:400,700,400italic">
	
	<!-- HTML5 Shiv, support for HTML5 elements in IE6-8  -->
	<script src="js/modernizr.custom.js"></script>
		
</head>

<body>

	<!-- PAGE WRAP -->
	<div id="page-wrap" class="wide">

		<!-- HEADER -->
		<header id="header">
			<div class="container clearfix">
				<a id="Top"></a>
				<!-- LOGO -->
				<div id="logo">
					<a href="index.html" title="Maxime Godrie"><h1>Maxime G</h1></a>
				</div>
				<!-- / LOGO -->
				
				<!-- NAVIGATION -->
				<nav id="navigation" class="ddsmoothmenu">
					<ul id="main-menu">
						<li><a href="#Home"><span>Home</span></a></li>							
						<li><a href="#Services"><span>Services</span></a></li>	
						<li><a href="#Skills"><span>Skills</span></a></li>												
						<li><a href="#Portfolio.html"><span>Portfolio</span></a></li>
						<li><a href="#About"><span>About</span></a></li>
						<li><a href="#Contact"><span>Contact</span></a></li>
					</ul>
				</nav>
				<!-- / NAVIGATION -->
				
			</div>
		</header>
		<!-- / HEADER -->
		
		<a id="Home"></a>
		
		<!-- CONTENT -->
		<section id="content" class="clearfix">
		
			<!-- PAGE DESCRIPTION -->
			<section class="page-description top-description" style="margin-top: 100px;">
				<div class="container">
					<h2>I am <span class="colored">Maxime Godrie</span>, passionated for developing well crafted, simple and functional <span class="colored">websites</span> and <span class="colored">mobile apps</span>.</h2>
				</div>
			</section>
			<!-- / PAGE DESCRIPTION -->
			
			<!-- SLIDER CONTAINER -->
			<section class="slider-container">
				<div class="container">	
				
					<!-- FLEXSLIDER -->
					 <div class="home-slider flexslider">
					
						<ul class="slides">
					
							<li>
								<div class="slider-caption">
									<h1 class="caption-title">This is an example caption!</h1>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum reiciendis nobis tenetur dolore doloribus magni nulla eaque commodi inventore autem!</p>
								</div>
								<img src="images/gallery/parkmap-full.png" alt="" />
							</li>
							
							<li>
								<div class="slider-caption">
									<h1 class="caption-title">This is an example caption!</h1>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum reiciendis nobis tenetur dolore doloribus magni nulla eaque commodi inventore autem!</p>
								</div>
							
								<img src="images/gallery/comixology-full.png" alt="" />
							</li>
							
						</ul>
					</div>
					<!-- / FLEXSLIDER -->
					<div class="page-description">
					
					<p><a href="portfolio.html">- To my portfolio -</a></p>
					<hr>
				</div>
					
				</div>
			</section>
			<!-- / SLIDER CONTAINER -->
			
			<!-- SECTION WRAP -->
			<section class="section-wrap  section-services">				
				<a id="Services"></a>
			    <!-- PAGE DESCRIPTION -->
				<div class="page-description">
					<h2>My services</h2>
					<p>How we can work together</p>
					<hr>
				</div>
				<!-- / PAGE DESCRIPTION -->
			
				<div class="container">								
				<!-- SERVICES WRAP -->
				<div class="services-wrap">
					<!-- ICON BOX CONTAINER -->
					<div class="ib-container clearfix">
					
						<div class="icon-image align-center">
							<img src="images/icons/web-development.png" alt="" />
						</div>
					
						<div class="one-fifth">
							<div class="icon-box framed-box text-align-center">
								<div class="icon-image align-center">
									<img src="images/icons/research-active.png" alt="" />
								</div>
								<div class="icon-box-content">
									<h4 class="icon-box-title">Discuss</h4>
									<p>In order to solve your problem, we first need to understand it. We discuss your goals for the site and how best to translate those ideas to the web.</p>
									
								</div>
							</div>
						</div>
						<div class="one-fifth">
							<div class="icon-box framed-box text-align-center">
								<div class="icon-image align-center">
									<img src="images/icons/plan-active.png" alt="" />
								</div>
								<div class="icon-box-content">
									<h4 class="icon-box-title">Plan</h4>
									<p>A plan of attack is put in place to execute the project. We talk about timeframes and where your input will be required throughout the development process.</p>
								
								</div>
							</div>
						</div>

						<div class="one-fifth">
							<div class="icon-box framed-box text-align-center">
								<div class="icon-image align-center">
									<img src="images/icons/execute-active.png" alt="" />
								</div>
								<div class="icon-box-content">
									<h4 class="icon-box-title">Execute</h4>
									<p>The late nights and endless coffee begin.</p>
									
								</div>
							</div>
						</div>

						<div class="one-fifth">
							<div class="icon-box framed-box text-align-center">
								<div class="icon-image align-center">
									<img src="images/icons/review-active.png" alt="" />
								</div>
								<div class="icon-box-content">
									<h4 class="icon-box-title">Review</h4>
									<p>We discuss the project execution and loop through iterations to incrementally build on the design.Your website will be almost finish !</p>
									
								</div>
							</div>
						</div>


						<div class="one-fifth last">
							<div class="icon-box framed-box text-align-center">
								<div class="icon-image align-center">
									<img src="images/icons/launch-active.png" alt="" />
								</div>
								<div class="icon-box-content">
									<h4 class="icon-box-title">Launch</h4>
									<p>The end.</p>
									
								</div>
							</div>
						</div>				

						<div class="clear"></div>
						
					</div>
					<!-- / ICON BOX CONTAINER -->
				</div>
				<!-- / SERVICES WRAP -->
				
			<!-- / SECTION WRAP -->		
		</section>
		<!-- / CONTENT -->	
			
		
		<!-- SERVICES WRAP -->
			<section class="section-wrap section-skills">
			
				<a id="Skills"></a>
			
			<!-- PAGE DESCRIPTION -->
				<div class="page-description">
					<h2>My skills</h2>
					<p>What I do</p>
					<hr>
				</div>
				<!-- / PAGE DESCRIPTION -->
			
				<div class="container">
					<div class="one-third">
						<div class="icon-box text-align-center">
							<div class="icon-image align-center">
								<img src="images/icons/icon_iphone.png" alt="">
							</div>
							<div class="icon-box-content">
								<h3 class="icon-box-title">HTML 5</h3>
								<p>Clean HTML markup and javascript.</p>
							</div>
						</div>
					</div>
					
					<div class="one-third">
						<div class="icon-box text-align-center">
							<div class="icon-image align-center">
								<img src="images/icons/icon_document.png" alt="">
							</div>
							<div class="icon-box-content">
								<h3 class="icon-box-title">CSS 3 - XAML</h3>
								<p>Animations, responsive design.</p>
							</div>
						</div>
					</div>
					
					<div class="one-third last">
						<div class="icon-box text-align-center">
							<div class="icon-image align-center">
								<img src="images/icons/icon_browser.png" alt="">
							</div>
							<div class="icon-box-content">
								<h3 class="icon-box-title">Responsive Design</h3>
								<p>Responsive or mobile websites.</p>
							</div>
						</div>
					</div>
					
				
					<div class="one-third">
						<div class="icon-box text-align-center">
							<div class="icon-image align-center">
								<img src="images/icons/icon_pen.png" alt="">
							</div>
							<div class="icon-box-content">
								<h3 class="icon-box-title">C# - ASP.NET</h3>
								<p>Knowledges in object programming and .net.</p>
							</div>
						</div>
					</div>
					
					<div class="one-third">
						<div class="icon-box text-align-center">
							<div class="icon-image align-center">
								<img src="images/icons/icon_megaphone.png" alt="">
							</div>
							<div class="icon-box-content">
								<h3 class="icon-box-title">CMS Integration</h3>
								<p>Sitefinity or Ektron websites integration or upgrade and content management.</p>
							</div>
						</div>
					</div>				
					
					<div class="one-third last">
						<div class="icon-box text-align-center">
							<div class="icon-image align-center">
								<img src="images/icons/icon_tools.png" alt="">
							</div>
							<div class="icon-box-content">
								<h3 class="icon-box-title">Web Servers</h3>
								<p>DNS changes, websites set ups on servers</p>
							</div>
						</div>
					</div>
					
					
					<div class="clear"></div>
				</div>
				<!-- / SERVICES WRAP -->	
				
				<!-- CUSTOM BLOCKS - BLOCK FOUR COLUMNS -->
				<!-- <div class="custom-blocks block-col-4 clearfix">
					<div class="container">
					
						<!-- BLOCK -->
						<!-- <div class="block">
							<a href="#">
								<span class="block-icon-font">Y</span>
								<h2 class="block-title">Services</h2>
								<div class="equal-box">
									<p>Delectus iusto nemo illum fugit ratione sit sapiente quod esse officiis unde ipsa.</p>
								</div>
							</a>
						</div>
						<!-- / BLOCK -->
						
						<!-- BLOCK -->
					<!-- 	<div class="block">
							<a href="#">
								<span class="block-icon-font">=</span>
								<h2 class="block-title">Work</h2>
								<div class="equal-box">
									<p>Delectus iusto nemo illum fugit ratione sit sapiente quod esse officiis unde ipsa.</p>
								</div>
							</a>
						</div>
						<!-- /BLOCK -->
						
						<!-- BLOCK -->
					<!-- 	<div class="block">
							<a href="#">
								<span class="block-icon-font">á</span>
								<h2 class="block-title">Team</h2>
								<div class="equal-box">
									<p>Delectus iusto nemo illum fugit ratione sit sapiente quod esse officiis unde ipsa.</p>
								</div>
							</a>
						</div>
						<!-- / BLOCK -->
						
						<!-- BLOCK -->
					<!-- 	<div class="block">
							<a href="#">
								<span class="block-icon-font">É</span>
								<h2 class="block-title">Contact</h2>
								<div class="equal-box">
									<p>Delectus iusto nemo illum fugit ratione sit sapiente quod esse officiis unde ipsa.</p>
								</div>
							</a>
						</div>
						<!-- / BLOCK -->
						
				<!-- 	</div>
				</div>
				<!-- / CUSTOM BLOCKS - BLOCK FOUR COLUMNS -->
				
				</section>
			
		
			<!-- SECTION WRAP -->
			
			<section class="section-wrap ">
				<a id="About"></a>
				<!-- PAGE DESCRIPTION -->
				<div class="page-description">
					<h2>Who is behind this</h2>
					<p>Who I am</p>
					<hr>
				</div>
				<!-- / PAGE DESCRIPTION -->		
			
					<div class="container">	       	
					
						<div class="two-third">
					
							<!-- IMAGE ALIGNED LEFT -->
							
							<p><img src="images/gallery/aboutme.jpg" style="width:200px; height:194px;" alt="" class="align-left" />
							
							<span class="dropcap">M</span>y name is Maxime Godrie, I lived in France pretty much of my life and traveled a lot.
							After my degree I decided to move in London to live my life as an international one, and actually planning on moving to Australia.
							I have been mostly working in digital agencies and the French Air Force.
							<span class="pullquote-right">A passion from the very little age ...</span>
							I have skills in front-end related to phone apps or websites and profesionnal cms. <br>
							The clients I have been dealing with in company are <strong>DC Comics, WWE, Engadget, History Channel, Hotel groups </strong> ...
							</p>
														
							<!-- / IMAGE ALIGNED LEFT -->
							<div class="one last">
								<div class="framed-box clearfix">
									<div class="framed-box-content text-align-center">
										<h1><span class="colored">Available for freelance</span></h1>
										<p>Send me your details and your your query and I will give you a quote.</p>
								
									</div>
								</div>
							</div>
						</div>			
						
						<div class="one-third last">
						 	<h3>Work experiences</h3>						
								<!-- ACCORDION -->
								<div class="accordion clearfix">
									
									<div class="accordion-title">Appius - UK </div>
									<div class="accordion-content">
										<p><Strong>Front-end developer</strong> in digital agency, maintening and upgrading existing websites using different CMS (Sitefinity, Ektron) or classic ASP.</p>
									</div>
									
									<div class="accordion-title">WDS Google Contract - UK</div>
									<div class="accordion-content">
										<p>Help and assistance for the client with their google products or accounts.</p>
									</div>
								
									<div class="accordion-title">UI Centric - UK</div>
									<div class="accordion-content">
										<p><Strong>Junior Developer</strong> in digital agency, creating windows 7 phone apps and windows 8 apps. Creating the client portal of the company - server aspect, asp.net</p>
									</div>
									
									<div class="accordion-title">Air Force - FR</div>
									<div class="accordion-content">
										<p><Strong>Junior websmaster</strong>, updating the content, maintening intranet websites.</p>
									</div>
																									
									<a href="/docs/cv.doc" class="button medium coffee">
										<span>Download my CV</span>
									</a>									
								</div>
								<!-- / ACCORDION -->	
				     	</div>					
					</div>							
										
					<div class="clear"></div>				

			</section>
			<!-- SECTION WRAP -->
	
		
		<a id="Contact"></a>
	
		<!-- FOOTER -->
		<footer id="footer">
			<div class="container clearfix">
				
			<!-- CONTENT -->
		<section id="content" class="right-sidebar clearfix">
		
			<!-- PAGE DESCRIPTION -->
				<div class="page-description">
					<h2>Contact me</h2>
					<p>I will reply as soon as posible</p>
					<hr>
				</div>
				<!-- / PAGE DESCRIPTION -->	
			
			<div class="container">
			
				<!-- CONTACT WRAP -->
				<section class="contact-wrap clearfix">
				
					<!-- <h3>Find us on the map!</h3> -->
					
					<!-- GOOGLE MAP -->
					<div class="google-map">Loading...</div>
					<!-- / GOOGLE MAP -->

					<div class="one-third">
					
						<!-- CONTACT INFO WIDGET -->
						<section class="widget contact-info-widget clearfix">
						
							<h3>Contact Info</h3>
							
							<p class="contact-info">If you have any questions or want to know more, please don't hesitate to get in contact with us on the details provided below.</p>
							
							<p class="contact-icon-address">
								<span></span>
								PO Box 21177<br />
								Level 13, 2 Elizabeth St, Melbourne<br /> 
								Victoria 3000 Australia<br />
							</p>
							<p class="contact-icon-phone">
								<span></span>
								Phone: +00 (0) 123 456 789
							</p>
							<p class="contact-icon-mobile">
								<span></span>
								Mobile: +00 (0) 123 456 789
							</p>
							<p class="contact-icon-fax">
								<span></span>
								Fax: +00 (0) 123 456 789
							</p>
							<p class="contact-icon-mail">
								<span></span>
								E-mail: <a href="mailto:email@domain.com">email@domain.com</a>
							</p>
							<p class="contact-icon-vcard">
								<span></span>
								vCard: <a href="#">Download vCard</a>
							</p>
						
						</section>
						<!-- / CONTACT INFO WIDGET -->
						
						<!-- SOCIAL MEDIA WIDGET -->
						<section class="widget social-media-widget">
						
							<!-- SOCIAL -->
							<ul class="social">
								<li><a href="#" class="facebook" title="Facebook">Facebook</a></li>
								<li><a href="#" class="twitter" title="Twitter">Twitter</a></li>
								<li><a href="#" class="googleplus" title="Google+">Google+</a></li>
								<li><a href="#" class="pinterest" title="Pinterest">Pinterest</a></li>
								<li><a href="#" class="dribbble" title="Dribbble">Dribbble</a></li>
								<li><a href="#" class="rss" title="RSS">RSS</a></li>
								<li><a href="#" class="flickr" title="Flickr">Flickr</a></li>
								<li><a href="#" class="linkedin" title="Linkedin">Linkedin</a></li>
								<li><a href="#" class="skype" title="Skype">Skype</a></li>
								<li><a href="#" class="vimeo" title="Vimeo">Vimeo</a></li>
							</ul>
							<!-- / SOCIAL -->
						
						</section>
						<!-- / SOCIAL MEDIA WIDGET -->
						
					</div>
					
					<div class="two-third last">
					
						<h3>Send us a message!</h3>

						<div id="result"></div>
						
						<!-- CONTACT FORM -->
						<form class="contact-form clearfix" action="http://mokshastudio.com/vault/newa/contact_form.php" method="post">
						
							<p class="one-third">
								<label for="name">Name <span class="colored">*</span></label>
								<input id="name" type="text" name="name" value="" class="text-input requiredField" />
							</p>
							<p class="one-third">
								<label for="email">Email <span class="colored">*</span></label>
								<input id="email" type="text" name="email" value="" class="text-input requiredField email" />
							</p>
							<p class="one-third last">
								<label for="subject">Subject <span class="colored">*</span></label>
								<input id="subject" type="text" name="subject" value="" class="text-input requiredField" />
							</p>
							
							<div class="clear"></div>
							
							<p>
								<label for="message">Message <span class="colored">*</span></label>
								<textarea id="message" name="message" cols="60" rows="8" class="textarea requiredField"></textarea>
							</p>
							<p>
								<button class="button medium black" name="submit" type="submit"><span>Send Message</span></button>
							</p>
							
						</form>
						<!-- / CONTACT FORM -->
						
					</div>
					
				</section>
				
				
				<!-- / CONTACT WRAP -->
				
			</div>
			<!-- FOOTER BOTTOM -->
		<footer id="footer-bottom" class="clearfix">
			<div class="container">
			
				<!-- COPYRIGHT -->
				<p class="copyright">&copy; 2013 <a href="#">Maxime Godrie</a>. All rights reserved.</p>
				<!-- / COPYRIGHT -->		
			
				<!-- FOOTER SOCIAL -->
				<ul class="social">
					<li><a href="http://www.facebook.com/maxime.godrie" class="facebook" title="Facebook">Facebook</a></li>				
					<li><a href="#" class="googleplus" title="Google+">Google+</a></li>				
					<li><a href="http://uk.linkedin.com/pub/maxime-godrie/38/baa/86a" class="linkedin" title="Linkedin">Linkedin</a></li>
					<li><a href="#" class="skype" title="Skype">Skype</a></li>							
				</ul>
				<!-- / FOOTER SOCIAL -->
				
			</div>
		</footer>
		<!-- / FOOTER BOTTOM -->
			
			
			
		</section>
		<!-- / CONTENT -->
		
		
	 	<!-- /* Javascript Files */ -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<!--[if lt IE 9]> <script src="js/selectivizr-min.js"></script> <![endif]-->
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/jquery.tools.min.js"></script>
	<script src="js/jquery.ddsmoothmenu.js"></script>
	<script src="js/tinynav.min.js"></script>
	<script src="js/jquery.prettyPhoto.js"></script>
	<script src="js/slides.min.jquery.js"></script>
	<script src="js/jquery.flexslider.min.js"></script>
	<script src="js/jquery.fitvids.js"></script>
	<script src="js/jquery.quicksand.js"></script>
	<script src="js/jflickrfeed.min.js"></script>
	<script src="js/jquery.tweet.js"></script>
	<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script src="js/jquery.gmap.min.js"></script>
	<script src="js/custom.js"></script>	


</body>


</html>