  @font-face {
    font-family: 'norwester';
    src: url('../fonts/norwester.eot');
    src: url('../fonts/norwester.eot?#iefix') format('embedded-opentype'),
         url('../fonts/norwester.woff') format('woff'),
         url('../fonts/norwester.ttf') format('truetype'),
         url('../fonts/norwester.svg#langdonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
     font-family: 'norwester';
     text-transform: uppercase;
     margin: 0;
     max-width: 100%;
     height: 100%;
     overflow:hidden;
     background-image: url("../img/use_your_illusion.png");
     background-repeat: repeat;
     background-position: center center;
}
html, body {
    margin: 0;
    height: 100%;
    overflow:hidden;
}

.main-wrapper {
	max-width: 100%;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: block;
	text-align: center;
	position: relative;
	overflow:hidden;
}

.main-wrapper-inner {
    height: 85%;
    position: relative;
}

.fa-refresh {
    display: none;
}
.action-todo {
    display: block;
    margin-top: -10px;
    font-size: 65px;
    color: white;
    position: absolute;
    bottom: 20px;
    width: 100%;
}



#countdown-text {
   padding-top: 50px; 
}

.score-wrapper {
	position: absolute;
    top: 10px;
    margin: 0 auto;
    width: 100%;
    font-size: 15px;
}

.best-score {
    text-align: right;
    padding-right: 50px;
    color: white;
}

.actual-score {
    padding-left: 50px;
    float: left;
    color: white;
}

.actual-score-span, 
.best-score-span {
    color: white;
    font-size: 20px;
}

.play-button {
    display:none;
    width: 100%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    left: 0;
    position: absolute;
    bottom: 0;
    font-size: 50px;
    padding-top: 15px;
    height: 61px;
}

.instructions-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 9999999;
    color: white;
    font-size: 30px;
} 

.instructions-wrapper {
    width: 200px;
    position: absolute;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    display: none;
    text-align: center;
    left: 50%;
    top: 50%;
    margin-top: -170px;
    z-index: 999999;
    margin-left: -120px;
    padding: 20px;
    border: 1px solid black;
    font-size: 12px;
}

.instructions-inner-wrapper {
    position: relative;
    display: block;
    width: 100%;
}

.close-button {
    position: absolute;
    top: -17px;
    right: 5px;
    display: block;
    font-size: 15px;
    color: black;
}

.game-over {
    display: none;
    padding-top: 70px;
    color: white;
    position: absolute;
    width: 100%;
}
.radial-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -110px;
  margin-top: -110px;
}
.radial-progress {
  margin: 50px;
  width: 120px;
  height: 120px;
  background-image: url("../img/use_your_illusion.png");
     background-repeat: repeat;
     background-position: center center;
  border-radius: 50%;
}
.radial-progress .circle .mask,
.radial-progress .circle .fill,
.radial-progress .circle .shadow {
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
}
.radial-progress .circle .shadow {
  box-shadow: 0 inset;
}
.radial-progress .circle .mask,
.radial-progress .circle .fill {
  -webkit-backface-visibility: hidden;
  transition: -webkit-transform 1s;
  transition: -ms-transform 1s;
  transition: transform 1s;
}
.radial-progress .circle .mask {
  clip: rect(0px, 120px, 120px, 60px);
}
.radial-progress .circle .mask .fill {
  clip: rect(0px, 60px, 120px, 0px);
  background-color: #008000;
}
.radial-progress .inset {
  width: 90px;
  height: 90px;
  position: absolute;
  margin-left: 15px;
  margin-top: 15px;
 background-image: url("../img/use_your_illusion.png");
     background-repeat: repeat;
     background-position: center center;
  border-radius: 50%;
  box-shadow: 0;
}