      <article id="intro-intersection" class="inner-links intersection sticked add-top align-center">
      <a href="#portfolio" id="show-btn" class="btn btn-eleg-large">View Our Latest Works</a>
    </article>
   
   
   
   <div class="page pad-top-page" id="portfolio">
        <section class="container-fluid full-bg">
			<div class="row-fluid">
				<section class="container">

					<div class="row add-top add-bottom">
						<article class="span12">
							<h1 class="main-heading col-white">Our Portfolio</h1>
              <div><p class="sub-heading col-white"><span class="major">explore</span> what we have created most recently</p></div>
						</article>
          </div>
        </section>
      </div>
    </section>
        <section class="container-fluid portfolio-inner">
      <div class="row-fluid">
        <section class="container">

          <div class="row add-bottom">

						<article class="span12">

              <section id="options" class="clearfix align-center">
    
    
      <ul id="filters" class="option-set clearfix" data-option-key="filter">
        <li class="inner-link"><a href="#filter" data-option-value="*" class="selected">all</a></li>
        <li class="inner-link"><a href="#filter" data-option-value=".branding">brand</a></li>
        <li class="inner-link"><a href="#filter" data-option-value=".web">web</a></li>
        <li class="inner-link"><a href="#filter" data-option-value=".ecommerce">ecom</a></li>
        <li class="inner-link"><a href="#filter" data-option-value=".modern">modern</a></li>
        <li class="inner-link"><a href="#filter" data-option-value=".creative">creative</a></li>
        <li class="inner-link"><a href="#filter" data-option-value=".modern, .creative">modern and creative</a></li>
        
      </ul>


  </section> <!-- #options -->
							 <div id="container" class="clearfix portfolio">
    
      
          
    
    <a class="gallery-block" href="images/portfolio/full/dummy.jpg" data-gal="prettyPhoto[portfolio]">
      <div class="element web height-02 " data-symbol="Hg" data-category="web">
      <article class="gallery-caps">
      	<h3>Title</h3>
      	<p>Lorem Ipsum Dolor</p>
      </article>
      <img alt="eleg by designova" title="eleg"  src="images/portfolio/p01.jpg"/>
    </div></a>

    
      
          
    <a class="gallery-block" href="images/portfolio/full/dummy.jpg" data-gal="prettyPhoto[portfolio]"><div class="element branding height-01" data-symbol="Te" data-category="branding ">
    	<article class="gallery-caps">
      	<h3>Title</h3>
      	<p>Lorem Ipsum Dolor</p>
      </article>
      <img alt="eleg by designova" title="eleg"   src="images/portfolio/p02.jpg"    />
    </div></a>
    
      
          
    <a class="gallery-block" href="images/portfolio/full/dummy.jpg" data-gal="prettyPhoto[portfolio]"><div class="element ecommerce height-03" data-symbol="Bi" data-category="ecommerce">
    	<article class="gallery-caps">
      	<h3>Title</h3>
      	<p>Lorem Ipsum Dolor</p>
      </article>
      <img alt="eleg by designova" title="eleg"   src="images/portfolio/p03.jpg"    />
    </div></a>
    
      
     
    <a class="gallery-block" href="images/portfolio/full/dummy.jpg" data-gal="prettyPhoto[portfolio]"><div class="element creative height-01" data-symbol="Ca" data-category="creative">
    	<article class="gallery-caps">
      	<h3>Title</h3>
      	<p>Lorem Ipsum Dolor</p>
      </article>
      <img alt="eleg by designova" title="eleg"   src="images/portfolio/p04.jpg"    />
    </div></a>



    <a class="gallery-block" href="images/portfolio/full/dummy.jpg" data-gal="prettyPhoto[portfolio]"><div class="element web  height-02 " data-symbol="Cd" data-category="web">
    	<article class="gallery-caps">
      	<h3>Title</h3>
      	<p>Lorem Ipsum Dolor</p>
      </article>
      <img alt="eleg by designova" title="eleg"   src="images/portfolio/p05.jpg"    />
    </div></a>
    
      
          
    
      
          
    <a class="gallery-block" href="images/portfolio/full/dummy.jpg" data-gal="prettyPhoto[portfolio]"><div class="element digital height-01" data-symbol="Re" data-category="digital">
    	<article class="gallery-caps">
      	<h3>Title</h3>
      	<p>Lorem Ipsum Dolor</p>
      </article>
      <img alt="eleg by designova" title="eleg"   src="images/portfolio/p06.jpg"    />
    </div></a>
    
      
          
    <a class="gallery-block" href="images/portfolio/full/dummy.jpg" data-gal="prettyPhoto[portfolio]"><div class="element ecommerce height-02 " data-symbol="Tl" data-category="ecommerce">
    	<article class="gallery-caps">
      	<h3>Title</h3>
      	<p>Lorem Ipsum Dolor</p>
      </article>
      <img alt="eleg by designova" title="eleg"   src="images/portfolio/p07.jpg"    />
    </div></a>
    
      
          
    <a class="gallery-block" href="images/portfolio/full/dummy.jpg" data-gal="prettyPhoto[portfolio]"><div class="element branding  height-03" data-symbol="Sb" data-category="branding ">
    	<article class="gallery-caps">
      	<h3>Title</h3>
      	<p>Lorem Ipsum Dolor</p>
      </article>
      <img alt="eleg by designova" title="eleg"   src="images/portfolio/p08.jpg"    />
    </div></a>
    
      
          
    <a class="gallery-block" href="images/portfolio/full/dummy.jpg" data-gal="prettyPhoto[portfolio]"><div class="element web height-01" data-symbol="Co" data-category="web">
    	<article class="gallery-caps">
      	<h3>Title</h3>
      	<p>Lorem Ipsum Dolor</p>
      </article>
      <img alt="eleg by designova" title="eleg"   src="images/portfolio/p09.jpg"    />
    </div></a>
    
      
          
    <a class="gallery-block" href="images/portfolio/full/dummy.jpg" data-gal="prettyPhoto[portfolio]"><div class="element digital height-03" data-symbol="Lu" data-category="digital">
    	<article class="gallery-caps">
      	<h3>Title</h3>
      	<p>Lorem Ipsum Dolor</p>
      </article>
      <img alt="eleg by designova" title="eleg"   src="images/portfolio/p10.jpg"    />
    </div></a>
    

    <a class="gallery-block" href="images/portfolio/full/dummy.jpg" data-gal="prettyPhoto[portfolio]"><div class="element creative  height-02 " data-symbol="Cd" data-category="creative">
    	<article class="gallery-caps">
      	<h3>Title</h3>
      	<p>Lorem Ipsum Dolor</p>
      </article>
      <img alt="eleg by designova" title="eleg"   src="images/portfolio/p11.jpg"    />
    </div></a>
    
      
          
    <a class="gallery-block" href="images/portfolio/full/dummy.jpg" data-gal="prettyPhoto[portfolio]"><div class="element branding height-01" data-symbol="Ca" data-category="branding">
    	<article class="gallery-caps">
      	<h3>Title</h3>
      	<p>Lorem Ipsum Dolor</p>
      </article>
      <img alt="eleg by designova" title="eleg"   src="images/portfolio/p12.jpg"    />
    </div></a>
    
      
          
    <a class="gallery-block" href="images/portfolio/full/dummy.jpg" data-gal="prettyPhoto[portfolio]"><div class="element web height-01" data-symbol="Re" data-category="web">
    	<article class="gallery-caps">
      	<h3>Title</h3>
      	<p>Lorem Ipsum Dolor</p>
      </article>
      <img alt="eleg by designova" title="eleg"   src="images/portfolio/p13.jpg"    />
    </div></a>
    
      
          
    <a class="gallery-block" href="images/portfolio/full/dummy.jpg" data-gal="prettyPhoto[portfolio]"><div class="element ecommerce height-02 " data-symbol="Tl" data-category="ecommerce">
    	<article class="gallery-caps">
      	<h3>Title</h3>
      	<p>Lorem Ipsum Dolor</p>
      </article>
      <img alt="eleg by designova" title="eleg"   src="images/portfolio/p14.jpg"    />
    </div></a>
    
      
          
    <a class="gallery-block" href="images/portfolio/full/dummy.jpg" data-gal="prettyPhoto[portfolio]"><div class="element digital  height-03" data-symbol="Sb" data-category="digital ">
    	<article class="gallery-caps">
      	<h3>Title</h3>
      	<p>Lorem Ipsum Dolor</p>
      </article>
      <img alt="eleg by designova" title="eleg"   src="images/portfolio/p15.jpg"    />
    </div></a>
    
      
          
    <a class="gallery-block" href="images/portfolio/full/dummy.jpg" data-gal="prettyPhoto[portfolio]"><div class="element web height-01" data-symbol="Co" data-category="web">
    	<article class="gallery-caps">
      	<h3>Title</h3>
      	<p>Lorem Ipsum Dolor</p>
      </article>
      <img alt="eleg by designova" title="eleg"   src="images/portfolio/p16.jpg"    />
    </div></a>
    
      
    
  </div> <!-- #container -->

						</article>
					</div><!-- row : ends -->

				</section>
			</div>
		</section>
    </div>
    <!-- page : ends -->