/* =======================================================================
??? Gumby Framework | Digital Surgeons. ???



Author:	Hasan Ali
NEO HTML TEMPLATE.CSS Document.

. ....           MM?    MM .   MM~  ,MMMM   MMI M.        .        .      
......          M$MM    MM .   MM.  +M .    MMM M.      ...        .     .
.    .......         MM  7M   MM     MM   7MMMM  .M?M M.        .    .   .      
.     .   ..         ZMNMMZ   MM    .MM:  7M.    .M MMM.        .        .      
......         MM  MM  .MMMM   MMM  =MMMM. =M:.MM..     ...    .  ..  .. .
======================================================================== */

/* ================= 
Stylesheet Guideline
======
HEADINGS

HEADER

NAVIGATION

PORTFOLIO

TEAM

ACCESSORY

SERVICES

CONTACT

CONTACT SECTION RIGHT

PRETTYPHOTO

*/


html{
background: #1a1a1a;
background-color: #1a1a1a;
}

body{	
line-height: 1.5;
width:100%;
max-width:1800px;
overflow-x:hidden;
/*
background-color:#1a1a1a;
*/
font-family: 'Open Sans', sans-serif;
text-decoration:none;
color:#7e7e7e;
font-size:13px;
font-size:1.3rem;
}

a{
text-decoration:none;
color:#fe4242;
}

a:hover{
color:#7e7e7e;
}

a:active{
color:#fe4242;
}

p{
margin:0 0 1.2em;
padding:0;
}

::-webkit-scrollbar-thumb:vertical { 
background-color:#fff;
}

::-webkit-scrollbar-thumb:horizontal { 
background-color:#fff;
}

::-webkit-scrollbar { 
width:10px;
background-color:#1a1a1a; 
}

::-webkit-input-placeholder { 
color:#fff;
font-size:12px;  
}

input:-moz-placeholder{ 
color:#fff;
font-size:12px; 
}


/** =============== HEADINGS/type  ================ **/

h1,h2,h3,h4,h5,h6{
line-height:1.6;
font-weight:800;
}

h1{
color: #ffffff;
font-size:105px;
font-size:10.5rem;
text-align:center;
text-transform:uppercase;
line-height:1;
margin-top:25px;
}

.h1Blue, .h4Blue
{

color:#528fa7 !important;
}

.h1Pink, .h4Pink
{
color:	#fe4242;
	
}

.green
{
 color:	#a5cecd !important;
}


h2{
color:#3b3b3b;
font-size:80px;
font-size:8.0rem;
text-align:center;
text-transform:uppercase;
line-height:1;
margin-top:25px;
}

h3{
color:#8e8e8e;
font-size:26px;
font-size:2.6rem;
font-weight:400;
text-align:center;
text-transform:uppercase;
margin-bottom:10px;

}

h4{
color: #c7c7c7;
font-size: 20px;
font-size:2.0rem;
font-weight: 400;
text-transform:uppercase;
}

h5{
color: #c7c7c7;
font-size: 16px;
font-size:1.6rem;
font-weight: 400;
text-align:center;
}

h6{
color: #fe4242;
font-size: 14px;
font-size:1.4rem;
font-weight: 400;
}

.subhead{
color: #7e7e7e;
font-size: 20px;
font-size:2.0rem;
font-weight: 300;
text-align:center;
text-transform:uppercase;
}

.italic{
color:#eee;
font-size:28px;
font-size:2.8rem;
font-family: 'Playfair Display', serif;
font-weight:400;
font-style:italic;
text-align:center;
}

.dark{
color: #4B4B4B;
}

.black
{
	color:black;
}



/* <=720px */
@media (max-width: 720px){

h1, h2{
font-size:325%;
}

h3{
padding-top:25px;
}
}

/** =============== HEADER ================ **/

@media(min-width:720px){
.headcontainer{
height:110px;
width:100%;
position:fixed;
border-bottom:1px solid #2a2a2a;
z-index:1200;
background-color:#1a1a1a;
border-top:5px solid #a5cecd;
}

/** == DO NOT REMOVE THIS #BLANK. THIS PROPERTY KEEPS 
ANY FIRST SECTION UNDER HEADER WITH FIXED POSITION== **/

#blank{
height:110px;
width:100%;
display:block;
}
}

@media(max-width:720px){
.headcontainer{
border-bottom:1px solid #2a2a2a;
border-top:5px solid #fe4242;
}
#blank{
display:none;
}
}

/** =============== NAVIGATION ================ **/

#top-menu {
float:right;
display:inline;
padding-top:2.5em;
text-transform: uppercase;
}

#top-menu li {
float: left;
}

#top-menu a {
display: block;
padding-right:35px;
-webkit-transition: 0.4s all ease;
-moz-transition: 0.4s all ease;
transition: 0.4s all ease;
color: #7e7e7e;
text-decoration: none;
}

#top-menu a:hover {
color: #fe4242;;
}

#top-menu li.active a {
color: #fe4242;;
}

/* <=720px */
@media (max-width: 720px){
#top-menu li{
display:inline-block;
line-height:1em;
margin:0 .5em .5em 0;
}

#top-menu li a{
border-raius:1em;
padding: .5em .75em;
}
}

/** =============== PORTFOLIO =============== **/

ul#portfolio{
position: relative; 
margin-top:50px;
}

ul#portfolio li{
float: left;
-webkit-transition: opacity 0.3s ease;
-moz-transition: opacity 0.3s ease;
-o-transition: opacity 0.3s ease;
transition: opacity 0.3s ease;
-webkit-transition-delay: 0.4s;
-moz-transition-delay: 0.4s;
-o-transition-delay: 0.4s;
transition-delay: 0.4s; 
}

ul#portfolio:hover li{
opacity: 0.3;
-webkit-transition: opacity 0.3s ease;
-moz-transition: opacity 0.3s ease;
-o-transition: opacity 0.3s ease;
transition: opacity 0.3s ease;
-webkit-transition-delay: 0.1s;
-moz-transition-delay: 0.1s;
-o-transition-delay: 0.1s;
transition-delay: 0.1s; 
}

ul#portfolio li:hover{
opacity: 1; 
}

ul#portfolio li img{
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease; 
margin-left:1px;
margin-top:1px;
}

ul#portfolio > li > a span{
width: 100%;
display: block;
padding: 5px 0;
text-align: center;
color: #fe4242;
text-decoration: none;
text-transform: uppercase;
}

ul#portfolio > li > a p{
margin-top:-10px;
padding: 5px 0;
color: #4e4e4e;
text-align:center;
text-decoration: none;
text-transform: uppercase;
}

ul#portfolio li:hover .sqr{
-webkit-transform: scale(1.1);
-moz-transform: scale(1.05);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1); 
overflow:hidden;
}

ul#portfolio:hover .itembox{
-webkit-transform: scale(0.7);
-moz-transform: scale(0.7);
-ms-transform: scale(0.7);
-o-transform: scale(0.7);
-webkit-transition:all 0.5s ease;
-moz-transition:all 0.5s ease;
-ms-transition:all 0.5s ease;
-o-transition:all 0.5s ease;
transition:all 0.5s ease;
overflow:hidden;
}


ul#portfolio li:hover .itembox{
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
-webkit-transition:all 0.5s ease;
-moz-transition:all 0.5s ease;
-ms-transition:all 0.5s ease;
-o-transition:all 0.5s ease;
transition:all 0.5s ease;
overflow:hidden;
}

.itembox{
width:300px;
height:300px;
position: relative;
display: block;
overflow: hidden; 
-webkit-transition:all 0.5s ease;
-moz-transition:all 0.5s ease;
-ms-transition:all 0.5s ease;
-o-transition:all 0.5s ease;
transition:all 0.5s ease;
}

.sqr{
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
position: absolute;
background: url(/img/default/overlay4.png) no-repeat center;
left: 0;
top: 0;
width: 300px;
height: 300px;
z-index: 999; 
overflow:hidden;
}

@media (max-width: 720px){
.itembox{
position: relative;
display: block;
overflow: hidden; 
max-width:280px;
max-height:280px;
}

.sqr{
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
position: absolute;
background-color:#FE4242;
left: 0;
top: 0;
max-width: 280px;
max-height: 280px;
z-index: 999; 
overflow:hidden;
opacity:0.6;
}
}

.holder{
width:298px;
height:298px;
margin-left:auto;
margin-right:auto;
overflow:hidden;
-webkit-transition:all 0.5s ease;
-moz-transition:all 0.5s ease;
-ms-transition:all 0.5s ease;
-o-transition:all 0.5s ease;
transition:all 0.5s ease;
}

/** =============== TEAM =============== **/

.circle{
width:180px;
height:180px;
border-radius:90px;
-moz-border-radius:90px;
-webkit-border-radius:90px;
-ms-border-radius:90px;
-o-border-radius:90px;
margin-bottom:20px;
margin-left:auto;
margin-right:auto;
overflow:hidden;
border:0px;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
background-color:#3b3b3b;
}

/**.circle:hover{
border:5px solid #2b2b2b; 
background-color:#fe4242;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}**/

.circle:hover{

background-color:#fe4242;

}

.position{
text-decoration: none;
text-align:center;
}

.smsmallpush{
margin-bottom:10px;
margin-top:-10px;
max-width: 94px;
margin-left: auto;
margin-right: auto;
}

.smboxsm{
width:30px;
height:30px;
margin-right:2px;
margin-top:10px;
margin-small:10px;
background-color:#3b3b3b;
float:left;
-webkit-transition-duration: 0.4s;
-moz-transition-duration: 0.4s;
-o-transition-duration: 0.4s;
-ms-transition-duration: 0.4s;
display:block;
}

.smboxsm:hover{
background-color: #FE4242;
-webkit-transition-duration: 0.4s;
-moz-transition-duration: 0.4s;
-o-transition-duration: 0.4s;
-ms-transition-duration: 0.4s;
}

.smboxsmlast{
width:30px;
height:30px;
margin-top:10px;
margin-small:10px;
background-color:#3b3b3b;
float:left;
-webkit-transition-duration: 0.4s;
-moz-transition-duration: 0.4s;
-o-transition-duration: 0.4s;
-ms-transition-duration: 0.4s;
display:block;
}

.smboxsmlast:hover{
background-color: #FE4242;
-webkit-transition-duration: 0.4s;
-moz-transition-duration: 0.4s;
-o-transition-duration: 0.4s;
-ms-transition-duration: 0.4s;
}

.describe{
text-align:center;
width:90%;
margin: 0 auto;
}

@media (max-width: 500px){
.circle{
margin-top:20px;
}

#map iframe
{
	width:270px;
	height:150px;
	margin:0 auto;
	margin-left:-180px;
}

.describe{
text-align:center;
width:90%;
margin: 0 auto 10px auto;
padding-bottom:20px;
border-bottom:1px solid #2a2a2a;
}
}

.describe li{
background-image: url(/img/default/list.png);
background-repeat: no-repeat;
background-position: 0 .5em;
padding-left: 20px;
margin-left: 20px;
text-align:left;
}

/** =============== ACCESSORY =============== **/

.margin{
margin-top:50px;
}


.divider{
width:100%;
height:1px;
background-color:#2a2a2a;
margin-top:35px;
}

.quote{
border:1px solid #2B2B2B;
text-align: center;
padding-top: 25px;
padding-bottom: 30px;
margin-top: 85px;
}

.action{
margin-top:50px;
margin-bottom:50px;
}

.button a {
color: white;
font-size:18px;
font-size:1.8rem;
background-color: #FE4242;
-webkit-transition-duration: 0.4s;
-moz-transition-duration: 0.4s;
-o-transition-duration: 0.4s;
-ms-transition-duration: 0.4s;
}

.button a:hover {
color: white;
background-color: #3B3B3B;
-webkit-transition-duration: 0.4s;
-moz-transition-duration: 0.4s;
-o-transition-duration: 0.4s;
-ms-transition-duration: 0.4s;
}

.button-text {
text-decoration: none;
letter-spacing: 0px;
display: block;
text-align: center;
padding-top: 16px;
padding-bottom: 15px;
}

/** =============== SERVICES =============== **/

.serviceblock{
width:220px;
height:220px;
border-radius:110px;
-moz-border-radius:110px;
-webkit-border-radius:110px;
-ms-border-radius:110px;
-o-border-radius:110px;
margin-bottom:20px;
margin-left:auto;
margin-right:auto;
overflow:hidden;
border:0px;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
background-color:#3b3b3b;
}

.photoBlock
{
	width:220px;
	height:220px;
	margin-bottom: -40px;
	margin-left: 80px;
	margin-right:auto;
	overflow:hidden;
	border:0px;
	background-color:#3b3b3b;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.photoBlock:hover{
	background-color:#fe4242;
}

.serviceblockWithoutImage{
	width:220px;
	height:220px;
	margin-bottom: -40px;
	margin-left: 80px;
	margin-right:auto;
	overflow:hidden;
	border:0px;
	
}

/**.serviceblock:hover{
border:5px solid #2b2b2b;
background-color:#fe4242;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}**/

.serviceblock:hover{
	background-color:#fe4242;
}

.info{
padding-top:60px;
padding-left:10px;
}

@media(max-width:720px){

.serviceblock{

}

.serviceblockWithoutImage
{
	margin:0 auto;
	margin-bottom:-40px;
	width:145px;
}

.photoBlock
{
	margin:0 auto;
	margin-bottom:-40px;
	width:220px;
}

.info{
margin-top:20px;
margin-bottom:20px;
border-bottom:1px solid #2a2a2a;
}
}

/** =============== CONTACT FORM =============== **/



form label {
display: block;
line-height: 18px;
cursor: pointer;
margin-bottom: 15px;
text-transform:uppercase;
}

form textarea{
}

.field .text, .field .search, .field .textarea #message {
position: relative;
padding: 8px 10px;
outline: none !important;
background: white;
border: 1px solid #4B4B4B;
border-radius: 0px;
box-shadow: none;
}

.field .text input, .field .text input[type="search"], form textarea {
width: 100%;
box-shadow: none;
-webkit-box-shadow: none;
padding: 0px;
margin: 0;
outline: none;
resize: none;
background-color: #3B3B3B;
color: #FE4242;
font-family:inherit;
font-size:12px;
}

.text input:focus, input:focus, textarea:focus, select:focus{
color:#FE4242;
}

.text{
background-color:#3b3b3b !important;
}

p.success{
color: #666;
}

.submit input{
width:100%;
display:inline-block;
height: 46px;
cursor: pointer;
background-color:#FE4242;
color:#fff;
border:0px;
float:left;
-webkit-transition-duration: 0.4s;
-moz-transition-duration: 0.4s;
-o-transition-duration: 0.4s;
-ms-transition-duration: 0.4s;
}

.submit input:hover{
color:#FFFFFF;
background-color:#3b3b3b;
-ms-transition-duration: .4s;
-webkit-transition-duration: .4s;
-moz-transition-duration: .4s;
-o-transition-duration: .4s;   
}

/** =============== CONTACT SECTION RIGHT =============== **/

.clabel{
color: #FE4242;
text-transform: uppercase;
margin-bottom:20px;
}

.smbox{
width:70px;
height:70px;
margin-right:25px;
margin-top:25px;
background-color:#1a1a1a;
float:left;
-webkit-transition-duration: 0.4s;
-moz-transition-duration: 0.4s;
-o-transition-duration: 0.4s;
-ms-transition-duration: 0.4s;
}

.smbox:hover{
background-color: #FE4242;
-webkit-transition-duration: 0.4s;
-moz-transition-duration: 0.4s;
-o-transition-duration: 0.4s;
-ms-transition-duration: 0.4s;
}

/** ===============FOOTER =============== **/

.footer{
text-align:center;
height:70px;
margin-top:25px;
}

.ftext{
color:#c7c7c7;
}

/** ===============PRETTY PHOTO =============== **/

div.pp_default .pp_top,div.pp_default .pp_top .pp_middle,div.pp_default .pp_top .pp_left,div.pp_default .pp_top .pp_right,div.pp_default .pp_bottom,div.pp_default .pp_bottom .pp_left,div.pp_default .pp_bottom .pp_middle,div.pp_default .pp_bottom .pp_right{height:13px}
div.pp_default .pp_top .pp_left{background:url(../img/prettyPhoto/default/sprite.png) -78px -93px no-repeat}
div.pp_default .pp_top .pp_middle{background:url(../img/prettyPhoto/default/sprite_x.png) top left repeat-x}
div.pp_default .pp_top .pp_right{background:url(../img/prettyPhoto/default/sprite.png) -112px -93px no-repeat}
div.pp_default .pp_content .ppt{color:#f8f8f8}
div.pp_default .pp_content_container .pp_left{background:url(../img/prettyPhoto/default/sprite_y.png) -7px 0 repeat-y;padding-left:13px}
div.pp_default .pp_content_container .pp_right{background:url(../img/prettyPhoto/default/sprite_y.png) top right repeat-y;padding-right:13px}
div.pp_default .pp_next:hover{background:url(../img/prettyPhoto/default/sprite_next.png) center right no-repeat;cursor:pointer}
div.pp_default .pp_previous:hover{background:url(../img/prettyPhoto/default/sprite_prev.png) center left no-repeat;cursor:pointer}
div.pp_default .pp_expand{background:url(../img/prettyPhoto/default/sprite.png) 0 -29px no-repeat;cursor:pointer;width:28px;height:28px}
div.pp_default .pp_expand:hover{background:url(../img/prettyPhoto/default/sprite.png) 0 -56px no-repeat;cursor:pointer}
div.pp_default .pp_contract{background:url(../img/prettyPhoto/default/sprite.png) 0 -84px no-repeat;cursor:pointer;width:28px;height:28px}
div.pp_default .pp_contract:hover{background:url(../img/prettyPhoto/default/sprite.png) 0 -113px no-repeat;cursor:pointer}
div.pp_default .pp_close{width:30px;height:30px;background:url(../img/prettyPhoto/default/sprite.png) 2px 1px no-repeat;cursor:pointer}
div.pp_default .pp_gallery ul li a{background:url(../img/prettyPhoto/default/default_thumb.png) center center #f8f8f8;border:1px solid #aaa}
div.pp_default .pp_social{margin-top:7px}
div.pp_default .pp_gallery a.pp_arrow_previous,div.pp_default .pp_gallery a.pp_arrow_next{position:static;left:auto}
div.pp_default .pp_nav .pp_play,div.pp_default .pp_nav .pp_pause{background:url(../img/prettyPhoto/default/sprite.png) -51px 1px no-repeat;height:30px;width:30px}
div.pp_default .pp_nav .pp_pause{background-position:-51px -29px}
div.pp_default a.pp_arrow_previous,div.pp_default a.pp_arrow_next{background:url(../img/prettyPhoto/default/sprite.png) -31px -3px no-repeat;height:20px;width:20px;margin:4px 0 0}
div.pp_default a.pp_arrow_next{left:52px;background-position:-82px -3px}
div.pp_default .pp_content_container .pp_details{margin-top:5px}
div.pp_default .pp_nav{clear:none;height:30px;width:110px;position:relative}
div.pp_default .pp_nav .currentTextHolder{font-family:Georgia;font-style:italic;color:#999;font-size:11px;left:75px;line-height:25px;position:absolute;top:2px;margin:0;padding:0 0 0 10px}
div.pp_default .pp_close:hover,div.pp_default .pp_nav .pp_play:hover,div.pp_default .pp_nav .pp_pause:hover,div.pp_default .pp_arrow_next:hover,div.pp_default .pp_arrow_previous:hover{opacity:0.7}
div.pp_default .pp_description{font-size:11px;font-weight:700;line-height:14px;margin:5px 50px 5px 0}
div.pp_default .pp_bottom .pp_left{background:url(../img/prettyPhoto/default/sprite.png) -78px -127px no-repeat}
div.pp_default .pp_bottom .pp_middle{background:url(../img/prettyPhoto/default/sprite_x.png) bottom left repeat-x}
div.pp_default .pp_bottom .pp_right{background:url(../img/prettyPhoto/default/sprite.png) -112px -127px no-repeat}
div.pp_default .pp_loaderIcon{background:url(../img/prettyPhoto/default/loader.gif) center center no-repeat}
div.light_rounded .pp_top .pp_left{background:url(../img/prettyPhoto/light_rounded/sprite.png) -88px -53px no-repeat}
div.light_rounded .pp_top .pp_right{background:url(../img/prettyPhoto/light_rounded/sprite.png) -110px -53px no-repeat}
div.light_rounded .pp_next:hover{background:url(../img/prettyPhoto/light_rounded/btnNext.png) center right no-repeat;cursor:pointer}
div.light_rounded .pp_previous:hover{background:url(../img/prettyPhoto/light_rounded/btnPrevious.png) center left no-repeat;cursor:pointer}
div.light_rounded .pp_expand{background:url(../img/prettyPhoto/light_rounded/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.light_rounded .pp_expand:hover{background:url(../img/prettyPhoto/light_rounded/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.light_rounded .pp_contract{background:url(../img/prettyPhoto/light_rounded/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.light_rounded .pp_contract:hover{background:url(../img/prettyPhoto/light_rounded/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.light_rounded .pp_close{width:75px;height:22px;background:url(../img/prettyPhoto/light_rounded/sprite.png) -1px -1px no-repeat;cursor:pointer}
div.light_rounded .pp_nav .pp_play{background:url(../img/prettyPhoto/light_rounded/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.light_rounded .pp_nav .pp_pause{background:url(../img/prettyPhoto/light_rounded/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.light_rounded .pp_arrow_previous{background:url(../img/prettyPhoto/light_rounded/sprite.png) 0 -71px no-repeat}
div.light_rounded .pp_arrow_next{background:url(../img/prettyPhoto/light_rounded/sprite.png) -22px -71px no-repeat}
div.light_rounded .pp_bottom .pp_left{background:url(../img/prettyPhoto/light_rounded/sprite.png) -88px -80px no-repeat}
div.light_rounded .pp_bottom .pp_right{background:url(../img/prettyPhoto/light_rounded/sprite.png) -110px -80px no-repeat}
div.dark_rounded .pp_top .pp_left{background:url(../img/prettyPhoto/dark_rounded/sprite.png) -88px -53px no-repeat}
div.dark_rounded .pp_top .pp_right{background:url(../img/prettyPhoto/dark_rounded/sprite.png) -110px -53px no-repeat}
div.dark_rounded .pp_content_container .pp_left{background:url(../img/prettyPhoto/dark_rounded/contentPattern.png) top left repeat-y}
div.dark_rounded .pp_content_container .pp_right{background:url(../img/prettyPhoto/dark_rounded/contentPattern.png) top right repeat-y}
div.dark_rounded .pp_next:hover{background:url(../img/prettyPhoto/dark_rounded/btnNext.png) center right no-repeat;cursor:pointer}
div.dark_rounded .pp_previous:hover{background:url(../img/prettyPhoto/dark_rounded/btnPrevious.png) center left no-repeat;cursor:pointer}
div.dark_rounded .pp_expand{background:url(../img/prettyPhoto/dark_rounded/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.dark_rounded .pp_expand:hover{background:url(../img/prettyPhoto/dark_rounded/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.dark_rounded .pp_contract{background:url(../img/prettyPhoto/dark_rounded/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.dark_rounded .pp_contract:hover{background:url(../img/prettyPhoto/dark_rounded/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.dark_rounded .pp_close{width:75px;height:22px;background:url(../img/prettyPhoto/dark_rounded/sprite.png) -1px -1px no-repeat;cursor:pointer}
div.dark_rounded .pp_description{margin-right:85px;color:#fff}
div.dark_rounded .pp_nav .pp_play{background:url(../img/prettyPhoto/dark_rounded/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.dark_rounded .pp_nav .pp_pause{background:url(../img/prettyPhoto/dark_rounded/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.dark_rounded .pp_arrow_previous{background:url(../img/prettyPhoto/dark_rounded/sprite.png) 0 -71px no-repeat}
div.dark_rounded .pp_arrow_next{background:url(../img/prettyPhoto/dark_rounded/sprite.png) -22px -71px no-repeat}
div.dark_rounded .pp_bottom .pp_left{background:url(../img/prettyPhoto/dark_rounded/sprite.png) -88px -80px no-repeat}
div.dark_rounded .pp_bottom .pp_right{background:url(../img/prettyPhoto/dark_rounded/sprite.png) -110px -80px no-repeat}
div.dark_rounded .pp_loaderIcon{background:url(../img/prettyPhoto/dark_rounded/loader.gif) center center no-repeat}
div.dark_square .pp_left,div.dark_square .pp_middle,div.dark_square .pp_right,div.dark_square .pp_content{background:#000}
div.dark_square .pp_description{color:#fff;margin:0 85px 0 0}
div.dark_square .pp_loaderIcon{background:url(../img/prettyPhoto/dark_square/loader.gif) center center no-repeat}
div.dark_square .pp_expand{background:url(../img/prettyPhoto/dark_square/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.dark_square .pp_expand:hover{background:url(../img/prettyPhoto/dark_square/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.dark_square .pp_contract{background:url(../img/prettyPhoto/dark_square/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.dark_square .pp_contract:hover{background:url(../img/prettyPhoto/dark_square/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.dark_square .pp_close{width:75px;height:22px;background:url(../img/prettyPhoto/dark_square/sprite.png) -1px -1px no-repeat;cursor:pointer}
div.dark_square .pp_nav{clear:none}
div.dark_square .pp_nav .pp_play{background:url(../img/prettyPhoto/dark_square/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.dark_square .pp_nav .pp_pause{background:url(../img/prettyPhoto/dark_square/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.dark_square .pp_arrow_previous{background:url(../img/prettyPhoto/dark_square/sprite.png) 0 -71px no-repeat}
div.dark_square .pp_arrow_next{background:url(../img/prettyPhoto/dark_square/sprite.png) -22px -71px no-repeat}
div.dark_square .pp_next:hover{background:url(../img/prettyPhoto/dark_square/btnNext.png) center right no-repeat;cursor:pointer}
div.dark_square .pp_previous:hover{background:url(../img/prettyPhoto/dark_square/btnPrevious.png) center left no-repeat;cursor:pointer}
div.light_square .pp_expand{background:url(../img/prettyPhoto/light_square/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.light_square .pp_expand:hover{background:url(../img/prettyPhoto/light_square/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.light_square .pp_contract{background:url(../img/prettyPhoto/light_square/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.light_square .pp_contract:hover{background:url(../img/prettyPhoto/light_square/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.light_square .pp_close{width:75px;height:22px;background:url(../img/prettyPhoto/light_square/sprite.png) -1px -1px no-repeat;cursor:pointer}
div.light_square .pp_nav .pp_play{background:url(../img/prettyPhoto/light_square/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.light_square .pp_nav .pp_pause{background:url(../img/prettyPhoto/light_square/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.light_square .pp_arrow_previous{background:url(../img/prettyPhoto/light_square/sprite.png) 0 -71px no-repeat}
div.light_square .pp_arrow_next{background:url(../img/prettyPhoto/light_square/sprite.png) -22px -71px no-repeat}
div.light_square .pp_next:hover{background:url(../img/prettyPhoto/light_square/btnNext.png) center right no-repeat;cursor:pointer}
div.light_square .pp_previous:hover{background:url(../img/prettyPhoto/light_square/btnPrevious.png) center left no-repeat;cursor:pointer}
div.facebook .pp_top .pp_left{background:url(../img/prettyPhoto/facebook/sprite.png) -88px -53px no-repeat}
div.facebook .pp_top .pp_middle{background:url(../img/prettyPhoto/facebook/contentPatternTop.png) top left repeat-x}
div.facebook .pp_top .pp_right{background:url(../img/prettyPhoto/facebook/sprite.png) -110px -53px no-repeat}
div.facebook .pp_content_container .pp_left{background:url(../img/prettyPhoto/facebook/contentPatternLeft.png) top left repeat-y}
div.facebook .pp_content_container .pp_right{background:url(../img/prettyPhoto/facebook/contentPatternRight.png) top right repeat-y}
div.facebook .pp_expand{background:url(../img/prettyPhoto/facebook/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.facebook .pp_expand:hover{background:url(../img/prettyPhoto/facebook/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.facebook .pp_contract{background:url(../img/prettyPhoto/facebook/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.facebook .pp_contract:hover{background:url(../img/prettyPhoto/facebook/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.facebook .pp_close{width:22px;height:22px;background:url(../img/prettyPhoto/facebook/sprite.png) -1px -1px no-repeat;cursor:pointer}
div.facebook .pp_description{margin:0 37px 0 0}
div.facebook .pp_loaderIcon{background:url(../img/prettyPhoto/facebook/loader.gif) center center no-repeat}
div.facebook .pp_arrow_previous{background:url(../img/prettyPhoto/facebook/sprite.png) 0 -71px no-repeat;height:22px;margin-top:0;width:22px}
div.facebook .pp_arrow_previous.disabled{background-position:0 -96px;cursor:default}
div.facebook .pp_arrow_next{background:url(../img/prettyPhoto/facebook/sprite.png) -32px -71px no-repeat;height:22px;margin-top:0;width:22px}
div.facebook .pp_arrow_next.disabled{background-position:-32px -96px;cursor:default}
div.facebook .pp_nav{margin-top:0}
div.facebook .pp_nav p{font-size:15px;padding:0 3px 0 4px}
div.facebook .pp_nav .pp_play{background:url(../img/prettyPhoto/facebook/sprite.png) -1px -123px no-repeat;height:22px;width:22px}
div.facebook .pp_nav .pp_pause{background:url(../img/prettyPhoto/facebook/sprite.png) -32px -123px no-repeat;height:22px;width:22px}
div.facebook .pp_next:hover{background:url(../img/prettyPhoto/facebook/btnNext.png) center right no-repeat;cursor:pointer}
div.facebook .pp_previous:hover{background:url(../img/prettyPhoto/facebook/btnPrevious.png) center left no-repeat;cursor:pointer}
div.facebook .pp_bottom .pp_left{background:url(../img/prettyPhoto/facebook/sprite.png) -88px -80px no-repeat}
div.facebook .pp_bottom .pp_middle{background:url(../img/prettyPhoto/facebook/contentPatternBottom.png) top left repeat-x}
div.facebook .pp_bottom .pp_right{background:url(../img/prettyPhoto/facebook/sprite.png) -110px -80px no-repeat}
div.pp_pic_holder a:focus{outline:none}
div.pp_overlay{background:#000;display:none;left:0;position:absolute;top:0;width:100%;z-index:9500}
div.pp_pic_holder{display:none;position:absolute;width:100px;z-index:10000}
.pp_content{height:40px;min-width:40px}
* html .pp_content{width:40px}
.pp_content_container{position:relative;text-align:left;width:100%}
.pp_content_container .pp_left{padding-left:20px}
.pp_content_container .pp_right{padding-right:20px}
.pp_content_container .pp_details{float:left;margin:10px 0 2px}
.pp_description{display:none;margin:0}
.pp_social{float:left;margin:0}
.pp_social .facebook{float:left;margin-left:5px;width:45px;overflow:hidden}
.pp_social .twitter{float:left}
.pp_nav{clear:right;float:left;margin:3px 10px 0 0}
.pp_nav p{float:left;white-space:nowrap;margin:2px 4px}
.pp_nav .pp_play,.pp_nav .pp_pause{float:left;margin-right:4px;text-indent:-10000px}
a.pp_arrow_previous,a.pp_arrow_next{display:block;float:left;height:15px;margin-top:3px;overflow:hidden;text-indent:-10000px;width:14px}
.pp_hoverContainer{position:absolute;top:0;width:100%;z-index:2000}
.pp_gallery{display:none;left:50%;margin-top:-50px;position:absolute;z-index:10000}
.pp_gallery div{float:left;overflow:hidden;position:relative}
.pp_gallery ul{float:left;height:35px;position:relative;white-space:nowrap;margin:0 0 0 5px;padding:0}
.pp_gallery ul a{border:1px rgba(0,0,0,0.5) solid;display:block;float:left;height:33px;overflow:hidden}
.pp_gallery ul a img{border:0}
.pp_gallery li{display:block;float:left;margin:0 5px 0 0;padding:0}
.pp_gallery li.default a{background:url(../img/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;display:block;height:33px;width:50px}
.pp_gallery .pp_arrow_previous,.pp_gallery .pp_arrow_next{margin-top:7px!important}
a.pp_next{background:url(../img/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:right;height:100%;text-indent:-10000px;width:49%}
a.pp_previous{background:url(../img/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:left;height:100%;text-indent:-10000px;width:49%}
a.pp_expand,a.pp_contract{cursor:pointer;display:none;height:20px;position:absolute;right:30px;text-indent:-10000px;top:10px;width:20px;z-index:20000}
a.pp_close{position:absolute;right:0;top:0;display:block;line-height:22px;text-indent:-10000px}
.pp_loaderIcon{display:block;height:24px;left:50%;position:absolute;top:50%;width:24px;margin:-12px 0 0 -12px}
#pp_full_res{line-height:1!important}
#pp_full_res .pp_inline{text-align:left}
#pp_full_res .pp_inline p{margin:0 0 15px}
div.ppt{color:#fff;display:none;font-size:17px;z-index:9999;margin:0 0 5px 15px}
div.pp_default .pp_content,div.light_rounded .pp_content{background-color:#fff}
div.pp_default #pp_full_res .pp_inline,div.light_rounded .pp_content .ppt,div.light_rounded #pp_full_res .pp_inline,div.light_square .pp_content .ppt,div.light_square #pp_full_res .pp_inline,div.facebook .pp_content .ppt,div.facebook #pp_full_res .pp_inline{color:#000}
div.pp_default .pp_gallery ul li a:hover,div.pp_default .pp_gallery ul li.selected a,.pp_gallery ul a:hover,.pp_gallery li.selected a{border-color:#fff}
div.pp_default .pp_details,div.light_rounded .pp_details,div.dark_rounded .pp_details,div.dark_square .pp_details,div.light_square .pp_details,div.facebook .pp_details{position:relative}
div.light_rounded .pp_top .pp_middle,div.light_rounded .pp_content_container .pp_left,div.light_rounded .pp_content_container .pp_right,div.light_rounded .pp_bottom .pp_middle,div.light_square .pp_left,div.light_square .pp_middle,div.light_square .pp_right,div.light_square .pp_content,div.facebook .pp_content{background:#fff}
div.light_rounded .pp_description,div.light_square .pp_description{margin-right:85px}
div.light_rounded .pp_gallery a.pp_arrow_previous,div.light_rounded .pp_gallery a.pp_arrow_next,div.dark_rounded .pp_gallery a.pp_arrow_previous,div.dark_rounded .pp_gallery a.pp_arrow_next,div.dark_square .pp_gallery a.pp_arrow_previous,div.dark_square .pp_gallery a.pp_arrow_next,div.light_square .pp_gallery a.pp_arrow_previous,div.light_square .pp_gallery a.pp_arrow_next{margin-top:12px!important}
div.light_rounded .pp_arrow_previous.disabled,div.dark_rounded .pp_arrow_previous.disabled,div.dark_square .pp_arrow_previous.disabled,div.light_square .pp_arrow_previous.disabled{background-position:0 -87px;cursor:default}
div.light_rounded .pp_arrow_next.disabled,div.dark_rounded .pp_arrow_next.disabled,div.dark_square .pp_arrow_next.disabled,div.light_square .pp_arrow_next.disabled{background-position:-22px -87px;cursor:default}
div.light_rounded .pp_loaderIcon,div.light_square .pp_loaderIcon{background:url(../img/prettyPhoto/light_rounded/loader.gif) center center no-repeat}
div.dark_rounded .pp_top .pp_middle,div.dark_rounded .pp_content,div.dark_rounded .pp_bottom .pp_middle{background:url(../img/prettyPhoto/dark_rounded/contentPattern.png) top left repeat}
div.dark_rounded .currentTextHolder,div.dark_square .currentTextHolder{color:#c4c4c4}
div.dark_rounded #pp_full_res .pp_inline,div.dark_square #pp_full_res .pp_inline{color:#fff}
.pp_top,.pp_bottom{height:20px;position:relative}
* html .pp_top,* html .pp_bottom{padding:0 20px}
.pp_top .pp_left,.pp_bottom .pp_left{height:20px;left:0;position:absolute;width:20px}
.pp_top .pp_middle,.pp_bottom .pp_middle{height:20px;left:20px;position:absolute;right:20px}
* html .pp_top .pp_middle,* html .pp_bottom .pp_middle{left:0;position:static}
.pp_top .pp_right,.pp_bottom .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px}
.pp_fade,.pp_gallery li.default a img{display:none}